<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Pin"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="sqhh99"
    UpgradeCode="B7F50808-6DBC-48A6-8295-282FB407E038">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perUser"
      InstallPrivileges="limited" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Pin is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="PinIcon" SourceFile="resource\icon\pin.ico" />
    <Property Id="ARPPRODUCTICON" Value="PinIcon" />
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
    <Property Id="INSTALLAUTOSTART" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="wix\License.rtf" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="LocalProgramsFolder" Name="Programs">
          <Directory Id="INSTALLFOLDER" Name="Pin" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Pin" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="PinFiles" Guid="C9A91AA0-7B5E-47C2-A51F-A994C61979C7">
        <RegistryKey Root="HKCU" Key="Software\sqhh99\Pin">
          <RegistryValue Name="installed" Type="integer" Value="1" KeyPath="yes" />
          <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" />
          <RegistryValue Name="Version" Type="string" Value="$(var.Version)" />
        </RegistryKey>
        <File Id="PinExe" Source="$(var.CargoTargetBinDir)\pin.exe" />
        <File Id="LicenseFile" Source="LICENSE" />
        <File Id="PinIniFile" Source="wix\pin.ini" Name="pin.ini" />
        <RemoveFile Id="RemovePinExe" Name="pin.exe" On="uninstall" />
        <RemoveFile Id="RemoveLicenseFile" Name="LICENSE" On="uninstall" />
        <RemoveFile Id="RemovePinIniFile" Name="pin.ini" On="uninstall" />
        <RemoveRegistryKey
          Id="RemovePinRegistryKey"
          Root="HKCU"
          Key="Software\sqhh99\Pin"
          Action="removeOnUninstall" />
        <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
        <RemoveFolder Id="RemoveLocalProgramsFolder" Directory="LocalProgramsFolder" On="uninstall" />
      </Component>

      <Component Id="AutostartRun" Guid="A3B4C5D6-E7F8-9012-B3C4-D5E6F7081920">
        <Condition>INSTALLAUTOSTART = "1"</Condition>
        <RegistryValue
          Root="HKCU"
          Key="Software\Microsoft\Windows\CurrentVersion\Run"
          Name="Pin"
          Type="string"
          Value="&quot;[INSTALLFOLDER]pin.exe&quot;"
          KeyPath="yes" />
        <IniFile
          Id="PinIniSetAutoStart"
          Directory="INSTALLFOLDER"
          Name="pin.ini"
          Section="-"
          Key="AutoStart"
          Value="true"
          Action="addLine" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="D4E8F1A2-3B4C-5D6E-8F90-1A2B3C4D5E6F">
        <Condition>INSTALLDESKTOPSHORTCUT = "1"</Condition>
        <RegistryValue
          Root="HKCU"
          Key="Software\sqhh99\Pin"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
        <Shortcut
          Id="ApplicationDesktopShortcut"
          Name="Pin"
          Description="Pin windows on top"
          Target="[INSTALLFOLDER]pin.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="PinIcon" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcuts" Guid="F91C9DAA-17DF-4D18-9C01-9E03810C45E1">
        <RegistryValue
          Root="HKCU"
          Key="Software\sqhh99\Pin"
          Name="StartMenuShortcuts"
          Type="integer"
          Value="1"
          KeyPath="yes" />
        <Shortcut
          Id="ApplicationStartMenuShortcut"
          Name="Pin"
          Description="Pin windows on top"
          Target="[INSTALLFOLDER]pin.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="PinIcon" />
        <Shortcut
          Id="ApplicationUninstallShortcut"
          Name="Uninstall Pin"
          Description="Uninstall Pin"
          Target="[SystemFolder]msiexec.exe"
          Arguments="/x [ProductCode]" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      </Component>
    </DirectoryRef>

    <Feature Id="DefaultFeature" Title="Pin" Level="1">
      <ComponentRef Id="PinFiles" />
      <ComponentRef Id="StartMenuShortcuts" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="AutostartRun" />
    </Feature>

    <CustomAction
      Id="RemoveAutostartRunValue"
      Directory="SystemFolder"
      Execute="deferred"
      Impersonate="yes"
      Return="ignore"
      ExeCommand='reg.exe delete "HKCU\Software\Microsoft\Windows\CurrentVersion\Run" /v Pin /f' />

    <InstallExecuteSequence>
      <Custom Action="RemoveAutostartRunValue" After="RemoveFiles">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>

    <UI>
      <Dialog Id="PinOptionsDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="Description" Type="Text" X="25" Y="23" Width="320" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Normal}Choose optional settings for Pin." />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="260" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Bigger}Optional Settings" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control
          Id="DesktopShortcutCheckbox"
          Type="CheckBox"
          X="20"
          Y="80"
          Width="320"
          Height="18"
          Property="INSTALLDESKTOPSHORTCUT"
          CheckBoxValue="1"
          Text="Create a &amp;desktop shortcut" />
        <Control
          Id="AutostartCheckbox"
          Type="CheckBox"
          X="20"
          Y="105"
          Width="320"
          Height="18"
          Property="INSTALLAUTOSTART"
          CheckBoxValue="1"
          Text="Start Pin automatically when &amp;Windows starts" />
      </Dialog>
    </UI>

    <UI Id="Pin_InstallDir">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="PinOptionsDlg" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="PinOptionsDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="PinOptionsDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="PinOptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="PinOptionsDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />
    <UIRef Id="Pin_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
